<!DOCTYPE html>
<html lang="en">
<head>
   <head>
    <title>DVT&C Inventory App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signUp.js"></script>
  </head>
</head>
<body>
<h1> Create Person </h1>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="checkMEID.html">Home</a></li>
            <li role="presentation"><a href="idx.html">Badge In</a></li>
            <li role="presentation" class="active"><a href="create_person.html">New User</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">New User</h3>
      </div>

      <div class="jumbotron">
          {% from "_formhelpers.html" import render_field %}
          <form method="POST">
              <p>
            <h1>Make User</h1>
            {{ form.hidden_tag() }}
              <p>
                  {{ render_field(form.badge_id) }}
                  {{ render_field(form.name) }}
                  {{ render_field(form.department) }}
                  {{ render_field(form.submit) }}
              </p>
        </form>
      </div>



      <footer class="footer">
        <p>&copy; DVT&C 2017</p>
      </footer>

    </div>
</body>
</html>